<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>Web Test</title>
</head>
<body>
  <h1>Web Test</h1>
  <p>このサーバのプラットフォーム : <%= @platform %> <%= @version %></p>
  <p>このサーバのIPアドレス : <?php echo $_SERVER['SERVER_ADDR']; ?></p>
</body>
</html>
